<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Candidate Info</title>  
    <style>
        th, td {
                padding: 5px;
        }
    </style>
     
</head>
 
<body>
    <!-- Include _menu.html -->
    
<th:block th:include="/_menu"></th:block>
 
    <h2>Candidate Information</h2>
    
<table border="1">
    <tr>            
        <th>Candidate Id</th>
        <th>Name</th>
        <th>Skill</th>
        <th>University</th>
        <th>GPA</th>
        <th>Graduated Year</th>
        <th>Day of birth</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Degree</th>
        <th>Is Deleted</th>
    </tr>
    <td th:utext="${candidate.candidateId}">..</td>
    <td th:utext="${candidate.name}">..</td>
    <td th:utext="${candidate.skill}">..</td>
    <td th:utext="${candidate.uniName}">..</td>
    <td th:utext="${candidate.gpa}">..</td>
    <td th:utext="${candidate.graduateYear}">..</td>
    <td th:utext="${candidate.dayOfBirth}">..</td>
    <td th:utext="${candidate.email}">..</td>
    <td th:utext="${candidate.phone}">..</td>
    <td th:utext="${candidate.address}">..</td>
    <td th:utext="${candidate.degree}">..</td>
    <td th:utext="${candidate.isDeleted}">..</td>
</table>
<form th:action="@{/candidateEdit}" th:object="${candidate}" th:method="POST">
    <fieldset>
        <input type="text" th:field="*{candidateId}" th:value="*{candidateId}" th:readonly="true" th:hidden="true"/>
        <input type="text" th:field="*{name}" th:value="*{name}" />
        <input type="text" th:field="*{skill}" th:value="*{skill}" />
        <input type="text" th:field="*{uniName}" th:value="*{uniName}" />
        <input type="text" th:field="*{gpa}" th:value="*{gpa}" />
        <input type="text" th:field="*{graduateYear}" th:value="*{graduateYear}" />
        <input type="text" th:field="*{dayOfBirth}" th:value="dayOfBirth" />
        <input type="text" th:field="*{degree}" th:value="*{degree}" />
        <input type="text" th:field="*{email}" th:value="*{email}" />
        <input type="text" th:field="*{phone}" th:value="*{phone}" />
        <input type="text" th:field="*{address}" th:value="*{address}" />
        <input type="text" th:field="*{isDeleted}" th:value="*{isDeleted}" />

        <input type="submit" value="SAVE" />
    </fieldset>
</form>
</body>
</html>