<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Candidate List</title>
     
    <style>
        th, td {
                padding: 5px;
        }
    </style>
     
</head>
 
<body>
<th:block th:include="/_menu"></th:block>
<div>
    <a th:href="@{'/candidate/add'}">Create new Candidate</a>
</div>
<table border="1">         
    <tr>             
        <th>Id</th>                    
        <th>GPA</th>                    
        <th>Full Name</th>                    
        <th>Email</th>
        <th>Action</th>                
    </tr>
            
    <tr th:each="candidate : ${candidateList}">             
        <td th:utext="${candidate.candidateId}">..</td>                    
        <td th:utext="${candidate.gpa}">..</td>                    
        <td th:utext="${candidate.name}">..</td>                    
        <td th:utext="${candidate.email}">..</td>
        <td>
            <a th:href="@{'/candidate/edit/' + ${candidate.candidateId}}">Edit</a>
            <a th:href="@{'/candidate/delete/' + ${candidate.candidateId}}">Delete</a>
            <a th:href="@{'/interview/add/' + ${candidate.candidateId}}">Interview</a>
        </td>
    </tr>
</table>
</body>
</html>