<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>  
    <style>
        th, td {
                padding: 5px;
        }
    </style>
     
</head>
 
<body>
<th:block th:include="/_menu"></th:block>
    <h2>Candidate Information</h2>
<br>
<form th:action="@{/user/edit}" th:object="${user}" th:method="POST">
    <fieldset>
        <input type="text" th:field="*{userId}" th:value="*{userId}" th:readonly="true" th:hidden="true"/>
        <input type="text" th:field="*{name}" th:value="*{name}" />
        <input type="text" th:field="*{username}" th:value="*{username}" />
        <input type="text" th:field="*{password}" th:value="*{password}" />
        <input type="text" th:field="*{position}" th:value="*{position}" />
        <input type="text" th:field="*{roleId}" th:value="*{roleId}" />
        <input type="text" th:field="*{isEnabled}" th:value="isEnabled" />

        <input type="submit" value="SAVE" />
    </fieldset>
</form>
</body>
</html>